.MainChat  
  .MainChat__Header
    .MainChat__Header__Group
      .MainChat__Header__Group__GroupName
        =@group.name
      %ul.MainChat__Header__Group__MemberList
        Member:
        - @users.each do |user|
          %li.MainChat__Header__Group__Member
          = user.user.name
    .MainChat__Header__Edit-btn
      =link_to edit_group_path(@group.id) do
        Edit
  .MainChat__MessageField
    = render @messages
    
  .MainChat__MessageForm
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('far', 'image')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'
      
      